.Add-user{
	height: 550px;
	width: 400px;
	border: 1px solid grey;
	border-radius: 10px;
	margin-left: 600px;
	position: relative;
	bottom:400px;
	background-color:honeydew;
}
.input0{
	height: 30px;
	width: 200px;
	border: 1px solid grey;
	border-radius: 10px;
	margin-left: 70px;
	margin-top: 25px;
}
.button0{
	margin-left: 80px;
	margin-top: 30px;
	border-radius: 5px;
	border: 1px solid black;
	
}
@keyframes modalShow{
    from{
        bottom: 50px;
        opacity: 0;
    }
    to{
        bottom: 0px;
        opacity: 1;
    }
}